.btn {
  padding: 24px;
  gap: 10px;
  border: none;
  color: $white;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
